html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: Arial,sans-serif !important;
    font-size: 13px;
    line-height: 1.4285;
}


.rootIcon {
    height: 16px;
    left: 375px;
    position: relative;
    top: -16px;
    width: 11px;
    cursor: pointer;
}

    .rootIcon:hover {
        height: 17px;
    }

.searchIcon {
    cursor: pointer;
    height: 16px;
    left: 320px;
    position: relative;
    top: -16px;
}

    .searchIcon:hover {
        height: 17px;
    }

.separator1 {
    background-color: #ccc;
    height: 24px;
    left: 360px;
    position: absolute;
    top: 10px;
    width: 1px;
}

.separator2 {
    background-color: #ccc;
    height: 1px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.searchTxt {
    border: 0 none;
    border-radius: 0;
    left: 35px;
    position: relative;
    top: -49px;
    width: 290px;
    font-size: 15px;
}

.searchContainer {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 400px;
    z-index: 1000;
    height: 45px;
    border-style: none;
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
}

.searchResultContainer {
    position: absolute;
    left: 20px;
    top: 80px;
    width: 360px;
    z-index: 1;
    min-height: 100px;
    max-height: 500px;
    border-style: none;
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    padding: 0px;
    padding-top: 5px;
}

.toolbarContainer {
    position: absolute;
    right: 80px;
    top: 20px;
    width: 360px;
    z-index: 10;
    min-height: 45px;
    border-style: none;
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    padding: 0px;
}

.fenlei_div {
    width: 100%;
    height: 170px;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .fenlei_div ul li {
        color: gray;
        cursor: pointer;
        float: left;
        font-size: 12px;
        font-weight: normal;
        height: 70px;
        line-height: 18px;
        margin: 10px 5px 5px 25px;
        width: 50px;
        list-style: outside none none;
    }

.fenleiClass {
    background: rgba(0, 0, 0, 0) url("../img/type_demo.png") no-repeat scroll 0 0;
    height: 50px;
    margin: 0 5px 5px 0;
    width: 50px;
    background-size: 50px;
}

    .fenleiClass img {
        height: 50px;
        margin: 0 5px 5px 0;
        width: 50px;
        border: 0 none;
        margin-right: 2px;
        vertical-align: middle;
    }

.poi-history-c {
    margin-left: 10px;
    border-top: 0px;
    list-style: none;
}

    .poi-history-c .poi-history .item {
        list-style: none;
        font-size: 13px;
        padding: 6px 5px 3px;
        cursor: pointer;
        color: #999;
        width: 340px;
    }

        .poi-history-c .poi-history .item:hover {
            background-color: #FBFBFB;
        }

        .poi-history-c .poi-history .item .clock-icon {
            margin: 2px 8px 0 0;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../img/clock-icon.png") no-repeat;
        }

        .poi-history-c .poi-history .item .name {
            display: inline-block;
            width: 250px;
            vertical-align: top;
        }

        .poi-history-c .poi-history .item .del-item {
            display: none;
            width: 25px;
            height: 20px;
            background: url("../img/iw-close-2.png") no-repeat;
            margin: 2px 0 0 2px;
            vertical-align: top;
            -webkit-transform: scale(.6);
            -moz-transform: scale(.6);
            -ms-transform: scale(0.6);
            transform: scale(0.6);
        }

        .poi-history-c .poi-history .item:hover .del-item:hover {
            opacity: 1;
        }

        .poi-history-c .poi-history .item:hover .del-item {
            display: inline-block;
        }

            .poi-history-c .poi-history .item:hover .del-item .poi-history-c .del-all {
                color: #b2b2b2;
            }

    .poi-history-c .del-all .btn {
        cursor: pointer;
        padding: 0 10px;
        float: right;
    }

.btn:hover {
    color: #3385FF;
}

.clearfix::after {
    display: block;
    width: 0px;
}

.clearfix::after {
    content: "\0020";
    height: 0px;
    clear: both;
}

body {
    font-family: Arial,Helvetica,SimSun,sans-serif;
}

.divButton {
    border: 1px solid #85b6ff;
    height: auto;
    width: auto;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background: #3385FF;
}

    .divButton:hover {
        background: #FFF;
        color: #3385FF;
    }

.goToHere {
    background-image: url("../img/routeSel.png");
    background-position: -13px,0px;
    width: 13px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
}

.goFromHere {
    background-image: url("../img/routeSel.png");
    background-position: -42px 0px;
    width: 13px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
}

.divButton:hover .goToHere {
    background-position: -0px,0px;
}

.divButton:hover .goFromHere {
    background-position: -28px,0px;
}

.fujinIcon {
    display: inline-block;
    background-position: 0px 0px;
    background: url('../img/fujin.png');
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 30px;
}

.jiucuoIcon {
    display: inline-block;
    background-position: 0px 0px;
    background: url('../img/jiucuo.png');
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 30px;
}

.fenxiangIcon {
    display: inline-block;
    background-position: 0px 0px;
    background: url('../img/fenxiang.png');
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 30px;
}

.itemOPText {
    display: inline-block;
    color: #3385FF;
    vertical-align: middle;
    cursor: pointer;
}

    .itemOPText:hover {
        text-decoration: underline;
    }

.toolbarItem {
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;  
    vertical-align: middle;
    color: #565656;
    font-size: 12px;
    line-height: 1.5;
    word-wrap: break-word;
    margin-top: 8px;
}

    .toolbarItem .icon {
        height: 20px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        color: #565656;
        font-size: 12px;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .toolbarItem .name {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        color: #565656;
        font-size: 12px;
        line-height: 1.5;
        word-wrap: break-word;
    }

        .toolbarItem .name:hover {
            color: #3385FF;
        }


.message-panel::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 26px;
    width: 0px;
    height: 0px;
    border-bottom: 7px solid #FFF;
    border-top: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.message-panel {
    position: absolute;
    top: 75px;
    right: 10px;
    background: #fff;
    border-radius: 2px;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 10;
}

#divZhuanTiList {
    position: absolute;
    top: 75px;
    right: 80px;
    border-radius: 2px;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 9;
}

    #divZhuanTiList .title {
        background-color: white;
        padding: 5px;
    }

#divZhuanTiPic {
    z-index: 10;
    position: absolute;
    right: 60px;
    bottom: 9px;
    /*margin: 8px 0 0 0;*/
    background-color: white;
    /*width: 400px;*/
    padding: 6px 0px 0 0px;
    text-align: center;
}

#closeZhuanTiListPicPannel {
    float: right;
    height: 13px;
    width: 13px;
    margin: 4px;
    cursor: pointer;
}

.toobarYingXiang-panel::before {
    content: "";
    position: absolute;
    /*top: -7px;
    right: 280px;
    position: fixed;
    top:68px;
    right:438px;*/ 
    width: 0px;
    height: 0px;
    border-bottom: 7px solid #FFF;
    border-top: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    margin-top: -9px;
}

.toobarYingXiang-panel {
    position: absolute;
    top: 75px;
    background: #fff;
    /* 备份 box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 10;
    border-radius: 0;
    min-height: 40px;    
    /* right: 159px; */
    padding-top: 2px;
    text-align:center;
    max-width:900px;
}

.toobarDuiBi-panel::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 150px;
    width: 0px;
    height: 0px;
    border-bottom: 7px solid #FFF;
    border-top: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.toobarDuiBi-panel {
    position: absolute;
    top: 75px;
    background: #fff;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 10;
    border-radius: 0;
    min-height: 40px;
    min-width: 150px;
    right: 228px;
    padding-top: 2px;
}

.toobarLiangCe-panel::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 85px;
    width: 0px;
    height: 0px;
    border-bottom: 7px solid #FFF;
    border-top: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.toobarLiangCe-panel {
    position: absolute;
    top: 75px;
    background: #fff;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 10;
    border-radius: 0;
    min-height: 40px;
    min-width: 150px;
    right: 150px;
    padding-top: 2px;
}

.toobarGengDuo-panel::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 40px;
    width: 0px;
    height: 0px;
    border-bottom: 7px solid #FFF;
    border-top: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.toobarGengDuo-panel {
    position: absolute;
    top: 75px;
    background: #fff;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 10;
    border-radius: 0;
    min-height: 50px;
    min-width: 90px;
    right: 75px;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 7px;
}
/* 标绘 */
.toobarBiaoHui-panel {
    position: absolute;
    top: 80px;
    background: #fff;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 10;
    border-radius: 0;
    min-height: 40px;
    min-width: 90px;
    right: 80px;
    padding: 2px 0 0 0;
}

#toolbarNews {
    width: 45px;
    padding: 5px;
    right: 20px;
    cursor: pointer;
}

#toolbartuichu {
    width: 45px;
    padding: 5px;
    right: 20px;
    cursor: pointer;
}

#toolbarNews:hover {
    opacity: 0.6;
}

.xmlogo {
    background: rgba(0, 0, 0, 0) url('../img/tdtlogo.png') repeat scroll 0 0;
    bottom: 30px;
    height: 40px;
    left: 10px;
    position: absolute;
    width: 182px;
    z-index: 10;
    display: block;
}

.mapAttr {
    bottom: 1px;
    height: 20px;
    left: 1px;
    position: absolute;
    width: 520px;
    z-index: 10;
    display: block;
    padding-top: 2px;
    background: rgba(255,255,255,0.8);
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
}

.mapNav {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 33px;
    z-index: 10;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#btnZhuanTiPic, #myPosition, .scalebox {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    cursor: pointer;
}

#btnZhuanTiPic {
    display: none;
    /*background: url('../img/t_zhuanti_1.png') 6px 6px / 20px no-repeat scroll rgba(0, 0, 0, 0);*/
    background-color: #fff;
    height: 33px;
    margin: 0 0 10px 0;
}

    #btnZhuanTiPic img {
        height: 20px;
        width: 20px;
        margin: 6px;
    }

#myPosition {
    margin: 0 0 10px 0;
}

.scalebox {
    height: 70px;
}

.zoom {
    height: 16px;
    width: 24px;
    margin: 0 auto;
}

#zoomin {
    background: rgba(0, 0, 0, 0) url('../img/scale.png') no-repeat scroll 0 0;
    background-position: -3px 3px;
    padding: 10px 0 27px;
    border-bottom: 1px solid #dfdfdf;
}

#zoomout {
    background: rgba(0, 0, 0, 0) url('../img/scale.png') no-repeat scroll 0 0;
    background-position: -3px -156px;
    padding: 10px 0;
}

#caterFilter {
    font-family: "宋体",Arial,sans-serif;
    position: relative;
}

    #caterFilter .toolbar {
        background-color: #f8f9fc;
        border: 1px solid #d5d8dc;
    }

    #caterFilter ul, #caterFilter li {
        margin: 0;
        padding: 0;
    }

ul, ol {
    list-style: outside none none;
}

.place-filter-cb {
    padding-left: 6px;
    padding-top: 5px;
    text-align: left;
}

.clearfix::after {
    clear: both;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

#caterFilter.city-panel .select-panel-city, #caterFilter.tag-panel .select-panel-tag, #caterFilter.sort-panel .select-panel-sort {
    display: block;
}

*::-moz-placeholder {
    color: #aaa;
    font-size: 14px;
}

#caterFilter .select-panel-tag {
    display: none;
    height: auto;
    padding: 10px 0 5px;
}

#caterFilter .select-panel-tag {
    background-color: #fff;
}

#caterFilter .select-panel-city, #caterFilter .select-panel-tag {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #D5D8DC;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-sizing: border-box;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 28px;
    width: 100%;
    z-index: 10;
}

#caterFilter .select-panel-sort {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #d5d8dc #d5d8dc;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-sizing: border-box;
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    top: 28px;
    width: 100%;
    z-index: 10;
}

#caterFilter .select-panel-sort {
    display: none;
    height: 250px;
}

#caterFilter .tool-item {
    cursor: pointer;
    float: left;
    line-height: 14px;
    padding: 6px 0;
    position: relative;
    text-align: center;
    width: 114px;
}

#caterFilter .botn-line {
    border-left: 1px solid #eaeaef;
    border-right: 1px solid #eaeaef;
}

#caterFilter .tool-item {
    cursor: pointer;
    float: left;
    line-height: 14px;
    padding: 6px 0;
    position: relative;
    text-align: center;
    width: 114px;
}

    #caterFilter .tool-item.sort-item {
        float: none;
        overflow: hidden;
        width: auto;
    }

form, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, tr, th, td, input {
    margin: 0;
    padding: 0;
}

#caterFilter .tool-item label {
    cursor: pointer;
}

#caterFilter.city-panel .city-item .arrow, #caterFilter.tag-panel .tag-item .arrow, #caterFilter.sort-panel .sort-item .arrow {
    background-position: -11px 0;
    top: 9px;
}

#caterFilter .tool-item .arrow {
    background-position: -11px 0;
    margin-left: 6px;
}

#caterFilter .tool-item .icon-cater {
    background: rgba(0, 0, 0, 0) url("../../img/arrow.png") no-repeat scroll 0 0;
    display: block;
    height: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 7px;
}

#caterFilter .select-panel-city .hd-list-wrap {
    background-color: #fff;
    border-right: 1px solid #eaeaef;
    float: left;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    width: 114px;
}

ul, ol {
    list-style: outside none none;
}

#caterFilter .select-panel-city .hd-list .active .label {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #eaeaef #f8f9fc #eaeaef #eaeaef;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    position: relative;
    right: -1px;
    font-size: 13px;
}

#caterFilter .select-panel-city .hd-list .label {
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 21px;
    font-size: 13px;
}

.label {
    color: #999;
    font-weight: 400;
}

#caterFilter .tool-item .arrow {
    background-position: -11px 0;
    margin-left: 6px;
}

#caterFilter .select-panel-city .bd-list {
    float: left;
    padding: 10px 13px;
    width: 155px;
}

    #caterFilter .select-panel-city .bd-list li {
        display: inline-block;
        margin-bottom: 5px;
    }

    #caterFilter .select-panel-city .bd-list .item {
        color: #333;
        display: block;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        text-decoration: none;
    }

.cardlist .card a {
    text-decoration: none;
}

#caterFilter .select-panel-tag dt {
    color: #369;
    float: left;
    text-align: right;
    width: 54px;
}

    #caterFilter .select-panel-tag dt h2 {
        color: #333;
        font-weight: 700;
    }

    #caterFilter .select-panel-tag dt h3, #caterFilter .select-panel-tag dt h2 {
        font-size: 12px;
        font-weight: 400;
        height: 20px;
        line-height: 20px;
    }

#caterFilter .select-panel-sort .item {
    color: #333;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.cardlist .card a {
    text-decoration: none;
}

a {
    color: #00c;
    cursor: pointer;
    outline: 0 none;
    text-decoration: underline;
}

a, input, select {
    font-size: 12px;
}

.ac_results {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(51, 133, 255, 0.35);
    border-color: rgba(51, 133, 255, 0.35);
    overflow: hidden;
    padding: 0;
    z-index: 99999;
    margin-top: 9px;
    margin-left: 0px;
    color: #000;
}

    .ac_results li {
        cursor: default;
        display: block;
        font-size: 12px;
        line-height: 30px;
        margin: 0;
        overflow: hidden;
        padding: 2px 8px;
    }

.ac_over {
    background-color: #3385FF;
    color: white;
}


.searchResultBox {
    box-shadow: 1px 1px 3px rgba(51, 133, 255, 0.35);
    width: 360px;
    z-index: 10;
    height: auto;
    border-style: none;
    background-color: white;
    padding: 0px;
    position: absolute;
    top: 70px;
    left: 20px;
}


.searchResultBoxtop {
    width: 100%;
    height: 30px;
    border: solid rgba(51, 133, 255, 0.3);
    border-width: 0px 0px 0.5px 0px;
    box-shadow: none;
    background-color: #3385FF;
    color: white;
}


.searchResultBox .middle {
    box-shadow: none;
}

.searchResultBoxbottom {
    width: 100%;
    height: 35px;
    border-width: 0.5px 0px 0px 0px;
    /*position: absolute;*/ /*or前面的是absolute就可以用*/
    left: 0;
    bottom: 0;
    box-shadow: none;
    background-color: #3385FF;
}

.searchResultItems {
}

.item {
    width: 100%;
    height: 38PX;
    box-shadow: none;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    color: #565656;
}

.odd {
    background-color: #E6E6E6;
}

    .odd:hover {
        background-color: #3385FF;
        color: white;
    }

.item:hover {
    background-color: #3385FF;
    color: white;
}

.item .selected {
    background-color: #3385FF;
    color: white;
}

.item .num1 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -107px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num2 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -172px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num3 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -237px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num4 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -302px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num5 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -366px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num6 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -431px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num7 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -496px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num8 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -561px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num9 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -626px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num10 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -691px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num11 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -107px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num12 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -172px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num13 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -237px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num14 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -302px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num15 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -366px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num16 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -431px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num17 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -496px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .num18 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -561px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .num19 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -626px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .num20 {
    background-image: url("/img/item_mapmarker.png");
    background-position: -691px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .txt {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}

.divPager {
    float: left;
    font-size: 13px;
}

    .divPager .homePage {
        width: 35px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 4px;
        padding-top: 3px;
        cursor: pointer;
    }

        .divPager .homePage:hover {
            background: #3385FF;
            color: white;
        }



    .divPager .prePage {
        width: 50px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 3px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .prePage:hover {
            background: #3385FF;
            color: white;
        }

    .divPager .num {
        width: auto;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .num:hover {
            background: #3385FF;
            color: white;
        }

    .divPager .nextPage {
        width: 50px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 3px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .nextPage:hover {
            background: #3385FF;
            color: white;
        }

    .divPager .lastPage {
        width: 35px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 3px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .lastPage:hover {
            background: #3385FF;
            color: white;
        }

.divQueryFilter {
    float: left;
    height: 30px;
    width: 75px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    position: absolute;
}

    .divQueryFilter:hover {
        cursor: pointer;
        height: 31px;
        border-width: 1px;
        border-color: white;
        border-style: solid;
    }

.divQueryFilter2 {
    float: left;
    height: 30px;
    width: 75px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    position: absolute;
    left: 75px;
}

    .divQueryFilter2:hover {
        border-color: white;
        cursor: pointer;
        height: 31px;
        border-width: 1px;
        border-style: solid;
    }


.line {
    width: 100%;
    border: dashed rgba(51,133,255, 0.3);
    border-width: 0px 0px 0.5px 0px;
    line-height: 30px;
    cursor: pointer;
    background: #E6E6E6;
}

    .line span:hover {
        color: #ffffff;
        background-color: #3385ff;
        /*padding: 4px;*/
    }

.line2 {
    width: 100%;
    border: dashed rgba(51,133,255, 0.3);
    border-width: 0px 0px 0.5px 0px;
    line-height: 30px;
    background: #E6E6E6;
}

.lineSubItem {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
}

    .lineSubItem div:hover {
        color: #3385FF;
    }

    .lineSubItem span {
        cursor: pointer;
    }


.ibox-content {
    clear: both;
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-width: 1px 0;
}

::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    vertical-align: middle;
}

:-ms-input-placeholder.form-control {
    color: #999;
}

.form-control, .single-line {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100%;
    font-size: 14px;
}

.fenleiClass span:hover {
    color: #3385FF;
}

.oText {
    border-radius: 4px;
    box-shadow: none;
    color: #000;
    border-radius: 0px;
    font-size: 9pt;
    height: 28px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 0px;
    padding-left: 5px;
    resize: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}




#mapType-wrapper {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

#mapType {
    height: 80px;
    cursor: pointer;
    -webkit-transition-property: width,background-color;
    transition-property: width,background-color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    width: 110px;
    background-color: rgba(255,255,255,0);
}

.expand #mapType {
    width: 298px;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
}

    .expand #mapType .mapTypeCard {
        border: 1px solid rgba(255,255,255,0);
        background-image: url(http://webmap0.map.bdstatic.com/wolfman/static/common/images/new/maptype_8a68f95.png);
    }

        .expand #mapType .mapTypeCard.active {
            border: 1px solid #3385FF;
        }

    .expand #mapType .normal {
        right: 202px;
    }

    .expand #mapType .satellite, .expand #mapType .earth {
        right: 106px;
    }

@media only screen and (-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
    .expand #mapType .mapTypeCard {
        background-image: url(http://webmap1.map.bdstatic.com/wolfman/static/common/images/new/maptype2x_54247ab.png);
    }
}

#mapType .mapTypeCard {
    height: 60px;
    width: 86px;
    position: absolute;
    border-radius: 2px;
    top: 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border: 1px solid rgba(153,153,153,.42);
    background: url(http://webmap1.map.bdstatic.com/wolfman/static/common/images/new/shadow_6bf0ecd.png) no-repeat 0 0;
    background-size: 86px 240px;
    -webkit-transition-property: right,background-image;
    transition-property: right,background-image;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

    #mapType .mapTypeCard span {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        padding: 3px 3px 2px 4px;
        font-size: 12px;
        height: 12px;
        line-height: 12px;
        color: #FFF;
        border-top-left-radius: 2px;
    }

    #mapType .mapTypeCard.active span, #mapType .mapTypeCard:hover span {
        background-color: #3385FF;
    }

    #mapType .mapTypeCard:hover {
        border: 1px solid #3385FF;
    }

#mapType .normal {
    z-index: 1;
    background-position: 0 0;
    right: 20px;
}

    #mapType .normal .switch-box p {
        margin-left: 20px;
    }

    #mapType .normal .switch-box input.switch {
        left: 5px;
    }

    #mapType .normal:hover .switch-box {
        visibility: visible;
    }

#mapType .satellite, #mapType .earth {
    right: 15px;
    z-index: 2;
    background-position: 0 -60px;
}

    #mapType .satellite:hover .switch-box, #mapType .earth:hover .switch-box {
        visibility: visible;
    }

#mapType .earth {
    background-position: 0 -181px;
}

#mapType .panorama {
    z-index: 3;
    right: 10px;
    background-image: url(http://webmap0.map.bdstatic.com/wolfman/static/common/images/new/maptype_8a68f95.png);
    background-position: 0 -121px;
    border-left: 1px solid rgba(153,153,153,.6);
}

@media only screen and (-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
    #mapType .panorama {
        background-image: url(http://webmap1.map.bdstatic.com/wolfman/static/common/images/new/maptype2x_54247ab.png);
    }
}

#mapType .switch-box {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 22px;
    color: #fff;
    background: rgba(0,0,0,.5);
}

    #mapType .switch-box p {
        display: inline-block;
        margin-left: 25px;
    }

    #mapType .switch-box input.switch {
        position: absolute;
        left: 8px;
        top: 4px;
        cursor: pointer;
    }







.photo-wrapper {
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    /*right:60px;*/
    width: 100%;
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    transition: bottom 0.3s;
    /*filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;*/
}

    .photo-wrapper .toggle {
        position: absolute;
        width: 100%;
        height: 30px;
        line-height: 26px;
        font-size: 14px;
        background: #fafafa;
        border-top: 1px solid #e6e6e6;
        text-align: center;
        padding: 0px 0 0 10px;
        color: #666;
        cursor: pointer;
    }

        .photo-wrapper .toggle span {
            position: absolute;
            margin: 4px 4px 0px 6px;
            width: 19px;
            height: 19px;
            background: url("../img/list.png") no-repeat 0 0;
            background-position: 0px -58px;
        }

    .photo-wrapper .bottle {
        position: absolute;
        width: 100%;
        border: 1px solid #e6e6e6;
        overflow: hidden;
        background-color: #fff;
        margin-top: 30px;
        height: 120px;
    }

        .photo-wrapper .bottle .list {
            margin: 0px;
            position: absolute;
            padding: 0px;
            display: flex;
            width: 10000px;
        }

        .photo-wrapper .bottle .listli {
            text-decoration: none;
            float: left;
            height: 120px;
            margin: 0px 5px;
            position: relative;
            left: 0px;
            transition: left 0.5s;
            border: 2px solid #e6e6e6;
            cursor: pointer;
            -moz-border-radius: 8px; /* Gecko browsers */
            -webkit-border-radius: 8px; /* Webkit browsers */
            border-radius: 8px; /* W3C syntax */
        }

            .photo-wrapper .bottle .listli:hover {
                border: 2px solid rgba(51, 133, 255, 0.7);
            }

        .photo-wrapper .bottle .list_shot {
            height: 120px;
            /*width: 100%;*/
            position: absolute;
            left: 30px;
            right: 30px;
            overflow: hidden;
        }

        .photo-wrapper .bottle span {
            display: block;
            position: absolute;
            top: 51px;
            width: 19px;
            height: 19px;
            background: url("../img/slider.png") no-repeat 0 0;
            cursor: pointer;
        }

        .photo-wrapper .bottle .l {
            left: 8px;
            background-position: -22px -205px;
        }

        .photo-wrapper .bottle .r {
            right: 8px;
            background-position: 6px -205px;
        }

    .photo-wrapper .topic-image {
        height: 120px;
    }


.photo-wrapper-expand {
    bottom: 152px;
}

.autoCompleteSearch {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    background: url(../img/search.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    margin: 8px 10px 0 0;
}


.app-down {
    z-index: 1;
    position: absolute;
    width: 220px;
    top: 70px;
    right: 20px;
    /*border: 0px solid rgb(153, 153, 153);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    border-image: none;
    cursor: default;
    background-color: rgb(255, 255, 255);
}

    .app-down .title {
        padding: 0 5px 0 5px;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        white-space: nowrap;
        /*border-bottom: 1px solid rgb(193, 193, 193);*/
        box-shadow: .5px .5px .5px rgba(51,133,255,0.35);
        background-color: rgb(249, 249, 249);
        text-align: center;
    }

        .app-down .title img {
            position: absolute;
            top: 8px;
            right: 12px;
            height: 13px;
            width: 13px;
            cursor: pointer;
        }

    .app-down .content {
        height: 210px;
        width: 100%;
        padding: 5px;
        font-weight: 400;
    }

.appDown-content-img {
    position: absolute;
    margin: 0px 0 0 -82px;
    height: 200px;
    width: 163px;
    background: rgba(0, 0, 0, 0) url(../img/app-down.gif) no-repeat scroll 0 0;
}

.tree-span {
    background-color: #3385ff;
    color: #fff;
}
